{% extends "master.html" %}

{% block content %}
    <div id="overview">
    <header class="jumbotron masthead">
        <div class="inner">
            <h1>Oche rechnete mit Dir
                <small>Die inoffizielle Version von <a href="http://www.aachen-rechnet-mit-ihnen.de">aachen-rechnet-mit-ihnen.de</a></small>
            </h1>
            <p class="lead">
                Dies ist eine alternative Ausgabe der Vorschläge und Kommentare der
                <a href="http://www.aachen-rechnet-mit-ihnen.de">Bürgerbefragung zum Aachener Haushalt 2012</a>.
                Es handelt sich hierbei nicht um ein Angebot der Stadt Aachen, nur die Daten wurden
                von der offiziellen Seite übernommen.
            </p>
            <p class="download-info">
                <a href="/vorschlaege" class="btn btn-large success">Top Vorschläge</a>
                <a href="/vorschlaege" class="btn btn-large info">Aktivste Vorschläge</a>
            </p>
        </div>
    </header>
{% endblock %}

</body>
</html>
