{% extends "master.html" %}

{% block content %}
    <div id="overview">
    <header class="jumbotron masthead">
        <div class="inner">
            <h1>Oche rechnete mit Dir
                <small>Die inoffizielle Version von <a href="http://www.aachen-rechnet-mit-ihnen.de">aachen-rechnet-mit-ihnen.de</a></small>
            </h1>
            <p class="lead">
                Dies ist eine alternative Ausgabe der Vorschläge und Kommentare der
                <a href="http://www.aachen-rechnet-mit-ihnen.de">Bürgerbefragung zum Aachener Haushalt 2012</a>.
                Es handelt sich hierbei nicht um ein Angebot der Stadt Aachen, nur die Daten wurden
                von der offiziellen Seite übernommen.
            </p>
            <p class="download-info">
                <a href="/vorschlaege" class="btn btn-large success">zu den Vorschlägen</a>
            </p>
            <div class="benefits">
            </div>

        </div>
    </header>
            <ul class="quick-links">
                <li class="">
                    Schnellzugriff:
                </li>
                <li class="follow-btn">
                    <a href="https://twitter.com/mrtopf" data-width="145px" class="twitter-follow-button" data-show-count="false" data-lang="de">Follow @mrtopf</a>
                </li>
                <li class="follow-btn">
                    <a href="https://twitter.com/openaachen" data-width="145px" class="twitter-follow-button" data-show-count="false" data-lang="de">Follow @openaachen</a>
                </li>
                <li class="follow-btn">
                    <a href="https://twitter.com/comlounge" data-width="145px" class="twitter-follow-button" data-show-count="false" data-lang="de">Follow @comlounge</a>
                </li>
                <li class="tweet-btn">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="openaachen" data-lang="de">Tweet</a>
                </li>

            </ul>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}

</body>
</html>
