{% extends "master.html" %}

{% block content %}
    <div id="overview">
    <header class="jumbotron subhead">
        <div class="inner">
            <h1>Impressum
            </h1>
            <p class="lead">
        Das Kleingedruckte
            </p>
        </div>
    </header>
    <section>
    <p>
        Diese Website wird betrieben von:
    </p>

    <h5><a href="http://comlounge.net">COM.lounge GmbH</a></h5>
    <address>
        <p>
        COM.lounge GmbH<br>
        Hanbrucher Str. 33<br>
        52064 Aachen<br>
        Tel.: 0241/4007300<br>
        </p>
        <p>
        Homepage: <a href="http://comlounge.net/">http://comlounge.net</a><br>
        E-Mail: <a href="mailto:info@comlounge.net">info@comlounge.net</a><br>
        </p>
    </address>

    <h3>Datenquelle</h3>
    <p>
    Die auf dieser Website verwendeten Daten wurden aus dem Internetauftritt
    <a href="http://www.aachen-rechnet-mit-ihnen.de">www.aachen-rechnet-mit-ihnen.de </a>
    extrahiert und in eine eigene Datenbank überführt, um sie in anderer Form aufbereiten zu können.
    </p>
    <p>
    Diese Daten sind <a href="http://twitter.com/#!/haushaltaachen/status/142987108104155137">laut Betreiber</a>
    unter einer Creative Commons Linzenz verfügbar.
    </p>
    <blockquote class="twitter-tweet" data-in-reply-to="142515545277870080"><p>@<a href="https://twitter.com/mrtopf">mrtopf</a> Alle Vorschläge und Kommentare der Teilnehmenden sind frei verfügbar (Creative Commons Lizenz). Wir stellen dazu noch Infos ein.</p>&mdash; Bürgerbeteiligung AC (@haushaltaachen) <a href="https://twitter.com/haushaltaachen/status/142987108104155137" data-datetime="2011-12-03T15:22:37+00:00">December3, 2011</a></blockquote>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <h3>Datenschutz</h3>
    Wir nutzen die Open Source-Statistik-Software piwik, um Zugriffsstatistiken zur Verbesserung dieses
    Angebots zu erheben. Weiterhin verwenden wir Twitter-Buttons, die Ihre IP-Adresse an Twitter Inc. übertragen.
    Weitere Informationen erhalten Sie in den <a href="http://twitter.com/privacy">Datenschutz-Bestimmungen von Twitter</a>. Ähnliches gilt für Google, deren CDN wir nutzen, um die JavaScript-Library jQuery zu laden.

    </section>

{% endblock %}

</body>
</html>
