{% extends "master.html" %}

{% block content %}
    <div id="overview">
    <header class="jumbotron subhead">
        <div class="inner">
            <h1>Impressum
            </h1>
            <p class="lead">
		Das Kleingedruckte
            </p>
        </div>
    </header>
    <section>
	<p>
    	Diese Website wird betrieben von:
	</p>

	<h5><a href="http://comlounge.net">COM.lounge GmbH</a></h5>
	<address>
	    <p>
	    COM.lounge GmbH<br>
	    Hanbrucher Str. 33<br>
	    52064 Aachen<br>
	    Tel.: 0241/4007300<br>
	    </p>
	    <p>
	    Homepage: <a href="http://comlounge.net/">http://comlounge.net</a><br>
	    E-Mail: <a href="mailto:info@comlounge.net">info@comlounge.net</a><br>
	    </p>
	</address>

	<h3>Datenquelle</h3>
	<p>
	Die auf dieser Website verwendeten Daten wurden aus dem Internetauftritt
	<a href="http://www.aachen-rechnet-mit-ihnen.de">www.aachen-rechnet-mit-ihnen.de </a>
	extrahiert und in eine eigene Datenbank überführt, um sie in anderer Form aufbereiten zu können.
	</p>
	<p>
	Diese Daten sind <a href="http://twitter.com/#!/haushaltaachen/status/142987108104155137">laut Betreiber</a>
	unter einer Creative Commons Linzenz verfügbar.
	</p>

	<h3>Datenschutz</h3>
	Wir nutzen die Open Source-Statistik-Software piwik, um Zugriffsstatistiken zur Verbesserung dieses
	Angebots zu erheben. Personenbezogene Daten werden nicht an Dritte weitergegeben.

    </section>

{% endblock %}

</body>
</html>
