<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{title | d('Oche rechnete mir Dir: inoffizielle Ausgabe der Bürgerbefragung zum Haushalt Aachen')}}</title>
    <meta name="description" content="{{description|d('Aachen Rechnet Mit Ihnen - inoffizielle Version')|striptags()}}">
    <meta name="author" content="COM.lounge GmbH">
    <link rel="SHORTCUT ICON" href="/img/favicon.ico" />
  
    {% set vpath=settings.virtual_path %}
    <link rel="stylesheet/less" href="/css/bootstrap.less" />
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script src="/js/less-1.1.3.min.js"></script>
    {% block js %}
    {% endblock %} 
</head>
<body>
    <div class="navbar navbar-fixed" data-scrollspy="scrollspy">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Oche rechnete mit Dir</a>
          <a class="brand2" href="http://oecher.info">oecher.info</a>
          <ul class="nav">
            <li class="{{'active' if active=='vorschlaege'}}"><a href="/vorschlaege">Vorschläge</a></li>
            <li class="{{'active' if active=='stats'}}"><a href="/stats">Statistiken</a></li>
            <li class="{{'active' if active=='opendata'}}"><a href="/opendata">Offene Datenschnittstelle</a></li>
            <li class="{{'active' if active=='extern'}}"><a href="http://mrtopf.de/blog/politik-politics/oche-rechnete-mit-ihnen-alternative-ausgabe-des-burgerhaushaltes-aachen/">Über diese Seite</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        {% block content %}
        <header class="jumbotron subhead" id="overview">
            {% block headline %}
                <p class="lead">Liste der Vorschläge</p>
            {% endblock %}
        </header>
        {% block subcontent %}
        {% endblock %}
        {% endblock %}
    <footer style="margin-top: 30px; margin-bottom: 30px;">
        <div id="comlounge" class="pull-right">
                Ein Projekt von <br>
                <a href="http://comlounge.net/"><img src="/img/comlounge.png" width="180" height="28" alt="COM.lounge"></a><br>
                <a href="/impressum">Impressum</a>
        </div>
        <p>
        Datenquelle: <a href="http://www.aachen-rechnet-mit-ihnen.de">aachen-rechnet-mit-ihnen.de</a><br>
        Diese Ausgabe wurde implementiert von von <a href="http://mrtopf.de">MrTopf</a>
        </p>
        <p>
        <a href="https://github.com/mrtopf/oche-rechnete-mit-dir">Dieses Projekt ist Open Source</a>
        </p>
    </footer>
    </div>


<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.netzwende.de/" : "http://piwik.netzwende.de/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 12);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://piwik.netzwende.de/piwik.php?idsite=12" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->

</body>
</html>
