{% extends "master.html" %}

{% block content %}
    <div id="overview">
    <header class="jumbotron subhead">
        <div class="inner">
            <h1>Open Data
            </h1>
            <p class="lead">
                Die Befreiung der Daten
            </p>
        </div>
    </header>
    <section>
        <p>
        Diese alternative Ausgabe der Daten zur Bürgerbefragung Aachen beinhaltet auch eine OpenData-Komponente.
        Dadurch ist es für Programmierer möglich, die Daten der Befragung in maschinenlesbarer Form weiterzuverwenden.
        </p>

        <p>
        Dazu gibt es sowohl unter der Vorschlagsliste als auch unter jedem Vorschlag einen Link zu einer Ausgabe in JSON-Format. 
        </p>

        <h3>Lizenz</h3>
        Hierzu muss der Originalbetreiber genaueres definiere, was er aber versprochen hat:

        <blockquote class="twitter-tweet" data-in-reply-to="142515545277870080"><p>@<a href="https://twitter.com/mrtopf">mrtopf</a> Alle Vorschläge und Kommentare der Teilnehmenden sind frei verfügbar (Creative Commons Lizenz). Wir stellen dazu noch Infos ein.</p>&mdash; Bürgerbeteiligung AC (@haushaltaachen) <a href="https://twitter.com/haushaltaachen/status/142987108104155137" data-datetime="2011-12-03T15:22:37+00:00">December3, 2011</a></blockquote>
        <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>



    </section>

{% endblock %}

</body>
</html>
